* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45em;
    position: relative;

}

h1{
    color: #0866ff;
    font-size: 60px;
     position: relative;
    bottom: 3rem;
}
h2 {
    width: 60.4%;
     position: relative;
    bottom: 3rem;
    
}

.frm {
    background-color: #ffff;
    box-shadow: 123px;
    width: 396px;
    height: 349.83px;
    border: 2px solid black;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10em;
    bottom: 40px;

}

.inp1 {
    width: 345px;
    height: 30px;
    background-color: #ffffff;
    color: #1d2129;
    border: 1px solid #dddfe2;
    padding: 8px;
    border-radius: 6px;
    vertical-align: middle;
    font-size: 17px;






}

.cont3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    position: relative;
    bottom: 15.6px;

    text-align: center;
    margin: 23px;
}

.btn {

    width: 362px;
    height: 40px;
    color: #ffffff;
    background-color: #0866ff;
    border: none;
    border-radius:6px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 23px;
    bottom: 25px; 
    
    

    

}


.link{
    color:#0866ff ;
    text-decoration: none;
    display: flex;
    position: relative;
    left: 9em;
    bottom: 0.8em;

}

a:visited{
    color: #0866ff;

}

.hello{
    align-items: center;
    border-bottom: 1px solid #DADDE1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    position: relative;
    bottom: 23px;

}

.btn1{
    border:none;
    width: 200px;
    height: 48px;
    background-color: #42b72a;
    position:relative;
    left: 6.4em;
    bottom: 1.3em;
    color:white ;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 600;

}


.cont5{
    position: relative;
    left: 18em;
    bottom: 34px;
    
}

p{
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 10em;
   right: 18em;
    width: 30em;

}


.btn:hover{
    background-color:#0b52c5;

}

.btn1:hover{
    background-color: #24a10b;
}

.link :hover{
   color: #09111d;
}



/* ----------- RESPONSIVE ----------- */
@media (max-width: 768px) {

    .cont1 {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        text-align: center;
    }

    .cont5 {
        left: 0;
        bottom: 0;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 48px;
        bottom: 0;
    }

    h2 {
        width: 100%;
        padding: 0 20px;
        bottom: 0;
        font-size: 20px;
    }

    .frm {
        left: 0;
        bottom: 0;
        width: 90%;
        max-width: 380px;
        height: auto;
        padding: 20px;
    }

    .inp1 {
        width: 100%;
    }

    .btn {
        width: 100%;
        left: 0;
    }

    .btn1 {
        left: 0;
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .link {
        left: 0;
        justify-content: center;
    }

    p {
        top: 2em;
        right: 0;
        width: 100%;
        font-size: 14px;
        padding: 0 10px;
        text-align: center;
    }
}
